#homepage{
    background-color: #fafafa;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.header{
    padding: 4em;
    text-align: center;
}
.heading-one{
    font-weight: 400;
    font-family: serif;
    font-size: 2.8em;
}
.heading-two{
    font-weight: 400;
    font-family: fantasy;
    font-size: -webkit-xxx-large;
}
p{
    color: #cdccd1;
}
.card-div{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    padding: 1em;
}
.top-border-one{
    background-color: #51cecd;
    padding: 2px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.top-border-two{
    background-color: #e85555;
    padding: 2px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.top-border-three{
    background-color: #f8ae50;
    padding: 2px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.top-border-four{
    background-color: #5b9de4;
    padding: 2px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.card{
    margin-bottom: 15px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    transition: transform .5s;
}
.card:hover{
    transform: scale(1.05);
}
/* @media screen and (min-width: 900px) {
    .card-div {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    } 
    .card{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: transform .5s;
    }
    .card:hover{
        transform: scale(1.05);
    }
  } */
#card-one{
    /* width: 18rem; */
    display: table;
    margin-top: 7em;
    box-shadow: #80808026 -1px 11px 10px 7px;
}
/* @media screen and (max-width: 600px) {
    .card-one {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
  } */
  #card-two{
    box-shadow: #80808026 -1px 11px 10px 7px
  }
  #card-three{
    box-shadow: #80808026 -1px 11px 10px 7px
  }
#card-four{
    /* width: 18rem; */
    display: table;
    margin-top: 7em;
    box-shadow: #80808026 -1px 11px 10px 7px;
}

.cards-sec{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
